{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Metaetiquetas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sitio web de ejemplo para el login de Ingenieria de Software I">
    <meta name="author" content="Maria Grimaldi y Andres Torres">

    <title>Registro</title>

    <!-- Archivos CSS   -->
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'login.css' %}" rel="stylesheet">
  </head>

  <!-- Contenido -->
  <body class="text-center">

    <!-- PARA MANEJAR LOS MENSAJES DE ERROR -->
    <form class="form-signin" method="post">
        {% csrf_token %}
      <div class="text-center">
            <img class="mb-4" src="{% static 'logo2.png' %}" alt="" width="300" height="200">
      </div>

      {% if messages %}
      <div class="text-center">
          {% for message in messages %}
          <br/>
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          <br/>
          {% endfor %}
      </div>
      {% endif %}
      
      <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
      <label for="inputEmail" class="sr-only">Correo electrónico</label>
      <input type="email" name="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus>
      <label for="inputPassword" class="sr-only">Clave</label>
      <input type="password" name="inputPassword" class="form-control" placeholder="Clave" required>
      <label for="inputPassword" class="sr-only">Clave</label>
      <input type="password" name="inputPassword2" class="form-control" placeholder="Confirmar clave" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
      <a href="/">Iniciar sesión</a>
    </form>
  </body>
</html>
